public/about.html
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Domaine Bini</title>
        
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="images/coconut-tree.png">

        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap" rel="stylesheet">    
        <link href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="index.html" class="navigation__link">Accueil</a></li>
                    <li class="navigation__item"><a href="about.html" class="navigation__link">A propos</a></li>
                    <li class="navigation__item"><a href="formules.html" class="navigation__link">Nos circuits</a></li>
                    <li class="navigation__item"><a href="reservation.html" class="navigation__link">Réservation</a></li>
                    <li class="navigation__item"><a href="contact.html" class="navigation__link">Nous joindre</a></li>
                </ul>
            </nav>
        </div>

        <!--lateral list-->
        <ul class="menu-list">
            <li>
                <a href="#">
                    <div>
                        <img src="images/icons/african-mask.svg" class="img-fluid img-icon" alt="icon"><br>
                        Découverte
                    </div>
                </a>
            </li>
            <li>
                <a href="foods.html">
                    <div>
                        <img src="images/icons/kitchen.svg" class="img-fluid img-icon" alt="icon"><br>
                        Délices cullinaies
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="images/icons/bed.svg" class="img-fluid img-icon" alt="icon"><br>
                        Où dormir
                    </div>
                </a>
            </li>
           <li>
                <a href="reservation.html">
                    <div>
                        <img src="images/icons/heart.svg" class="img-fluid img-icon" alt="icon"><br>
                        Réserver
                    </div>
                </a>
            </li>
        </ul>

        <main>
            <div class="section-block u-pb-standard bg-nav">
                <nav class="navbar">
                    <a href="index.html">
                        <img src="images/logo-db.webp" class="logo-db" alt="logo domaine bini">
                    </a>
                    <ul class="nav-menu">
                        <li>
                            <a href="index.html" class="simple-link --orange">Accueil</a>
                        </li>
                        <li>
                            <a href="about.html" class="simple-link --orange">A propos</a>
                        </li>
                        <li>
                            <a href="formules.html" class="simple-link --orange">Nos circuits</a>
                        </li>
                        <li>
                            <a href="reservation.html" class="simple-link --orange">Réservation</a>
                        </li>
                        <li>
                            <a href="contact.html" class="simple-link --orange">Nous joindre</a>
                        </li>
                    </ul>
                </nav>
                
            </div>

            <div class="section-block">
                <div class="aboutpage-block">
                    <span class="cb-title">Notre équipe</span>
                    <div class="team-desc">
                        <p class="paragraph u-txt-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Esse impedit omnis assumenda perspiciatis quibusdam deserunt, 
                            aliquam dolor voluptates tempora amet maiores quos. Laborum 
                            corrupti fugiat enim odio recusandae, quisquam saepe. 
                        </p>
                        
                    </div>
                    <div class="grid">
                        <div class="grid-column">
                            <div class="team-member">
                                <div class="photo">
                                    <img src="images/team/user.webp" alt="membre">
                                </div>
                                <div class="content">
                                    <span>JEAN-MARC BINI</span>
                                    <small>Directeur Fondateur</small>
                                </div>
                            </div>
                        </div>
                        <div class="grid-column">
                            <div class="team-member">
                                <div class="photo">
                                    <img src="images/team/user-2.webp" alt="membre">
                                </div>
                                <div class="content">
                                    <span>BADOU</span>
                                    <small>administrateur</small>
                                </div>
                            </div>
                        </div>
                        <div class="grid-column">
                            <div class="team-member">
                                <div class="photo">
                                    <img src="images/team/user-3.webp" alt="membre">
                                </div>
                                <div class="content">
                                    <span>TATIANA</span>
                                    <small>responsable de recherche de produits dérivés du cacao</small>
                                </div>
                            </div>
                        </div>
                        <div class="grid-column">
                            <div class="team-member">
                                <div class="photo">
                                    <img src="images/team/user-4.webp" alt="membre">
                                </div>
                                <div class="content">
                                    <span>N'GUESSAN</span>
                                    <small>guide touristique, responsable logistique</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="principle-box">
                <div class="principle-box__content">
                    <div class="principle-box__block">
                        <img src="images/icons/nature.svg" class="img-illustration" alt="nature">
                    </div> 
                    <div class="principle-box__block">
                        <h2>Nos principes</h2>
                        <ul>
                            <li>
                                <span>Minimiser les impacts du tourisme sur l'environnement</span>
                                <p>
                                    Les impacts physiques, comportementaux et sociaux.
                                </p>
                            </li>
                            <li>
                                <span>Générer du travail et des revenus pour les populations locales</span>
                                <p>
                                    En échange de leur savoir-faire ainsi que de leur aide dans la vie du domaine
                                </p>
                            </li>
                            <li>
                                <span>Impliquer le visiteur</span>
                                <p>
                                    En le sensibilisant aux questions environnementales
                                </p>
                            </li>
                            <li>
                                <span>Concevoir des équipements naturels</span>
                                <p>
                                    Objectif zéro déchet
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            
        </main>

        <footer class="footer section-block --shadow">
            <ul class="utils">
                <li>
                    <a href="index.html">Accueil</a>
                </li>
                <li>
                     <a href="about.html">A propos</a>
                 </li>
                 <li>
                     <a href="formules.html">Circuits</a>
                 </li>
                 <li>
                     <a href="contact.html">Nous joindre</a>
                 </li>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="#" target="_blank">
                         <img src="images/icons/facebook.svg" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="images/icons/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="images/icons/youtube.svg" alt="youtube">
                    </a>
                </li>
            </ul>
            <span>© 2021 Domaine Bini - All rights reserved</span>
            <span>Designed and developed by <a href="#">Kay Donald</a></span>
        </footer>
        
    </body>
</html>

views/about.pug
extends base

block content
    main
        include components/_pagenav
        .section-block
            .aboutpage-block
                span.cb-title Notre &eacute;quipe
                .team-desc
                    p.paragraph.u-txt-center
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Esse impedit omnis assumenda perspiciatis quibusdam deserunt,
                        | aliquam dolor voluptates tempora amet maiores quos. Laborum
                        | corrupti fugiat enim odio recusandae, quisquam saepe.
                .grid
                    each member in teamMembers
                        .grid-column
                            .team-member
                                .photo
                                    img(src=`/images/team/${member.photo}` alt='membre')
                                .content
                                    span= `${member.firstname.toUpperCase()} ${member.lastname.toUpperCase()}`
                                    small= member.role
                    
        .principle-box
            .principle-box__content
                .principle-box__block
                    img.img-illustration(src='images/icons/nature.svg' alt='nature')
                .principle-box__block
                    h2 Nos principes
                    ul
                        li
                            span Minimiser les impacts du tourisme sur l&apos;environnement
                            p Les impacts physiques, comportementaux et sociaux.
                        li
                            span G&eacute;n&eacute;rer du travail et des revenus pour les populations locales
                            p En &eacute;change de leur savoir-faire ainsi que de leur aide dans la vie du domaine
                        li
                            span Impliquer le visiteur
                            p En le sensibilisant aux questions environnementales
                        li
                            span Concevoir des &eacute;quipements naturels
                            p Objectif z&eacute;ro d&eacute;chet




    include components/_footer
