views/contact.pug
extends base

block content
    main
        include components/_pagenav
        
        .section-block
            .contact-block
                span.cb-title.u-mb-standard Pour plus de d&eacute;tails autour de nos activit&eacute;s merci de nous contactez
                .grid
                    .grid-column
                        .circle-white
                            img(src='/images/icons/house.svg' alt='icon')
                        p Domaine Bini for&ecirc;t Kilom&egrave;tre 51 sur l&apos;autoroute du nord (C&ocirc;te d&rsquo;Ivoire)
                    .grid-column
                        .circle-white
                            img(src='/images/icons/phone-book.svg' alt='icon')
                        each contact in general[0].contacts
                            p= `(225) ${contact}`
                        p
                            a(href=`mailto:${general[0].emailAdress}`)= general[0].emailAdress
        .map-box
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15888.471370930527!2d-3.9246933!3d5.3990115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8cf589a88b239d61!2sDomaine%20Bini%20Lagune!5e0!3m2!1sfr!2sci!4v1616589823591!5m2!1sfr!2sci' style='border:0;' allowfullscreen='' loading='lazy')



    include components/_footer

public/contact.html
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Domaine Bini</title>
        
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="images/coconut-tree.png">

        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap" rel="stylesheet">    
        <link href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="index.html" class="navigation__link">Accueil</a></li>
                    <li class="navigation__item"><a href="about.html" class="navigation__link">A propos</a></li>
                    <li class="navigation__item"><a href="formules.html" class="navigation__link">Nos circuits</a></li>
                    <li class="navigation__item"><a href="reservation.html" class="navigation__link">Réservation</a></li>
                    <li class="navigation__item"><a href="contact.html" class="navigation__link">Nous joindre</a></li>
                </ul>
            </nav>
        </div>

        <!--lateral list-->
        <ul class="menu-list">
            <li>
                <a href="#">
                    <div>
                        <img src="images/icons/african-mask.svg" class="img-fluid img-icon" alt="icon"><br>
                        Découverte
                    </div>
                </a>
            </li>
            <li>
                <a href="foods.html">
                    <div>
                        <img src="images/icons/kitchen.svg" class="img-fluid img-icon" alt="icon"><br>
                        Délices cullinaies
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="images/icons/bed.svg" class="img-fluid img-icon" alt="icon"><br>
                        Où dormir
                    </div>
                </a>
            </li>
           <li>
                <a href="reservation.html">
                    <div>
                        <img src="images/icons/heart.svg" class="img-fluid img-icon" alt="icon"><br>
                        Réserver
                    </div>
                </a>
            </li>
        </ul>

        <main>
            <div class="section-block u-pb-standard bg-nav">
                <nav class="navbar">
                    <a href="index.html">
                        <img src="images/logo-db.webp" class="logo-db" alt="logo domaine bini">
                    </a>
                    <ul class="nav-menu">
                        <li>
                            <a href="index.html" class="simple-link --orange">Accueil</a>
                        </li>
                        <li>
                            <a href="about.html" class="simple-link --orange">A propos</a>
                        </li>
                        <li>
                            <a href="formules.html" class="simple-link --orange">Nos circuits</a>
                        </li>
                        <li>
                            <a href="reservation.html" class="simple-link --orange">Réservation</a>
                        </li>
                        <li>
                            <a href="contact.html" class="simple-link --orange">Nous joindre</a>
                        </li>
                    </ul>
                </nav>
                
            </div>

            <div class="section-block">
                <div class="contact-block">
                    <span class="cb-title u-mb-standard">
                        Pour plus de détails autour de nos activités merci de nous contactez
                    </span>
                    <div class="grid">
                        <div class="grid-column">
                            <div class="circle-white">
                                <img src="images/icons/house.svg" alt="icon">
                            </div>
                            <p>
                                Domaine Bini forêt Kilomètre 51
                                sur l'autoroute du nord (Côte d’Ivoire)
                            </p>
                        </div>
                        <div class="grid-column">
                            <div class="circle-white">
                                <img src="images/icons/phone-book.svg" alt="icon">
                            </div>
                            <p>(225) 07 08 33 47 73</p>
                            <p>(225) 07 09 30 99 91</p>
                            <p><a href="mailto:domainebini.org@gmail.com">domainebini.org@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15888.471370930527!2d-3.9246933!3d5.3990115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8cf589a88b239d61!2sDomaine%20Bini%20Lagune!5e0!3m2!1sfr!2sci!4v1616589823591!5m2!1sfr!2sci" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </main>

        <footer class="footer section-block --shadow">
            <ul class="utils">
                <li>
                    <a href="index.html">Accueil</a>
                </li>
                <li>
                     <a href="about.html">A propos</a>
                 </li>
                 <li>
                     <a href="formules.html">Circuits</a>
                 </li>
                 <li>
                     <a href="contact.html">Nous joindre</a>
                 </li>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="#" target="_blank">
                         <img src="images/icons/facebook.svg" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="images/icons/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="images/icons/youtube.svg" alt="youtube">
                    </a>
                </li>
            </ul>
            <span>© 2021 Domaine Bini - All rights reserved</span>
            <span>Designed and developed by <a href="#">Kay Donald</a></span>
        </footer>
        
    </body>
</html>
