views/plan-details.pug
extends base

block content
    main
        include components/_pagenav
        
        .section-block
            .plandetail
                hr.simple-hr
                h1
                    = `Formule ${tourPlan[0].formula}`
                    span=  oneTour[0].name
                p.paragraph= tourPlan[0].description
            .plan-banner
                img(src=`/images/tours/${tourPlan[0].imgCover}` alt='banner')
            .plan-display
                .block
                    .pl-mcontent
                        each program in tourPlan[0].tourProgram
                            .u-mb-standard
                                .heading-plan
                                    h1= program.title
                                    span Programme
                                p.p= program.explanation
                                .program-illustration
                                    img(src=`/images/tours/${program.illustration}` alt='illustration')
                            
                .block
                    .plan-illustration
                        img.img(src=`/images/tours/${tourPlan[0].imgIllustration}` alt='illustration')
                        .content
                            hr.simple-hr
                            h1.principle-heading
                                | Formule 
                                br
                                =  `${tourPlan[0].formula}`
                            .wood-plaque
                                .fprice
                                    span= `${tourPlan[0].price} f cfa`
                                    small par personne
                                a(href='/reservation')
                                    button.standard-btn R&eacute;server maintenant

        
    include components/_footer

public/plan-details.html
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Domaine Bini</title>
        
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="images/coconut-tree.png">

        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap" rel="stylesheet">    
        <link href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="index.html" class="navigation__link">Accueil</a></li>
                    <li class="navigation__item"><a href="about.html" class="navigation__link">A propos</a></li>
                    <li class="navigation__item"><a href="formules.html" class="navigation__link">Nos circuits</a></li>
                    <li class="navigation__item"><a href="reservation.html" class="navigation__link">Réservation</a></li>
                    <li class="navigation__item"><a href="contact.html" class="navigation__link">Nous joindre</a></li>
                </ul>
            </nav>
        </div>

        <!--lateral list-->
        <ul class="menu-list">
            <li>
                <a href="#">
                    <div>
                        <img src="images/icons/african-mask.svg" class="img-fluid img-icon" alt="icon"><br>
                        Découverte
                    </div>
                </a>
            </li>
            <li>
                <a href="foods.html">
                    <div>
                        <img src="images/icons/kitchen.svg" class="img-fluid img-icon" alt="icon"><br>
                        Délices cullinaies
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="images/icons/bed.svg" class="img-fluid img-icon" alt="icon"><br>
                        Où dormir
                    </div>
                </a>
            </li>
           <li>
                <a href="reservation.html">
                    <div>
                        <img src="images/icons/heart.svg" class="img-fluid img-icon" alt="icon"><br>
                        Réserver
                    </div>
                </a>
            </li>
        </ul>

        <main>
            <div class="section-block u-pb-standard bg-nav">
                <nav class="navbar">
                    <a href="index.html">
                        <img src="images/logo-db.webp" class="logo-db" alt="logo domaine bini">
                    </a>
                    <ul class="nav-menu">
                        <li>
                            <a href="index.html" class="simple-link --orange">Accueil</a>
                        </li>
                        <li>
                            <a href="about.html" class="simple-link --orange">A propos</a>
                        </li>
                        <li>
                            <a href="formules.html" class="simple-link --orange">Nos circuits</a>
                        </li>
                        <li>
                            <a href="reservation.html" class="simple-link --orange">Réservation</a>
                        </li>
                        <li>
                            <a href="contact.html" class="simple-link --orange">Nous joindre</a>
                        </li>
                    </ul>
                </nav>
                
            </div>

            <div class="section-block">
                <div class="plandetail">
                    <hr class="simple-hr">
                    <h1>Formule découverte <span>Bini Lagune</span></h1>
                    <p class="paragraph">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Quo alias, enim necessitatibus laborum dolore minus soluta facilis iste, 
                        ut asperiores, nemo suscipit minima. Libero repellendus sint praesentium 
                        in hic quisquam.
                    </p>
                </div>
                <div class="plan-banner">
                    <img src="images/foret.jpg" alt="banner">
                </div>
                <div class="plan-display">
                    <div class="block">
                        <div class="pl-mcontent">
                            <div class="u-mb-standard">
                                <div class="heading-plan">
                                    <h1>randonnée</h1>
                                    <span>Programme</span>
                                </div>
                                <p class="p">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Autem odit molestias ut libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi?
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Autem odit molestias ut libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi? 
                                    libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi.
                                </p>
                                <div class="program-illustration">
                                    <img src="images/foret.jpg" alt="illustration">
                                </div>
                            </div>
                            <div class="u-mb-standard">
                                <div class="heading-plan">
                                    <h1><Datag>dégustation</Datag></h1>
                                    <span>Programme</span>
                                </div>
                                <p class="p">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Autem odit molestias ut libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi?
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Autem odit molestias ut libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi? 
                                    libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi.
                                </p>
                                <div class="program-illustration">
                                    <img src="images/foret.jpg" alt="illustration">
                                </div>
                            </div>
                            <div class="u-mb-standard">
                                <div class="heading-plan">
                                    <h1>randonnée</h1>
                                    <span>Programme</span>
                                </div>
                                <p class="p">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Autem odit molestias ut libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi?
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Autem odit molestias ut libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi? 
                                    libero, voluptates at quidem labore 
                                    quae voluptas incidunt voluptatem accusantium dicta est alias 
                                    animi unde suscipit id nisi.
                                </p>
                                <div class="program-illustration">
                                    <img src="images/foret.jpg" alt="illustration">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="plan-illustration">
                            <img src="images/tours/foret.jpg" class="img" alt="illustration">

                            <div class="content">
                                <hr class="simple-hr">
                                <h1 class="principle-heading">
                                    Formule <br> Immersion
                                </h1>
                                <div class="wood-plaque">
                                    <div class="fprice">
                                        <span>50000 f cfa</span>
                                        <small>par personne</small>
                                    </div>
                                    <a href="reservation.html">
                                        <button class="standard-btn">Réserver maintenant</button>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>

        <footer class="footer section-block --shadow">
            <ul class="utils">
                <li>
                    <a href="index.html">Accueil</a>
                </li>
                <li>
                     <a href="about.html">A propos</a>
                 </li>
                 <li>
                     <a href="formules.html">Circuits</a>
                 </li>
                 <li>
                     <a href="contact.html">Nous joindre</a>
                 </li>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="#" target="_blank">
                         <img src="images/icons/facebook.svg" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="images/icons/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="images/icons/youtube.svg" alt="youtube">
                    </a>
                </li>
            </ul>
            <span>© 2021 Domaine Bini - All rights reserved</span>
            <span>Designed and developed by <a href="#">Kay Donald</a></span>
        </footer>
        
    </body>
</html>
